_run_jnb
.ipynb_checkpoints
.env
.azure
terraform.tfstate
terraform.tfstate.backup
**/.terraform/**
__pycache__/
azure-cis-scanner-client
azure_cis_scanner.egg*
build
dist
example_scan
images
permissions
remediations
sample_deploy
scans
crash.log
.secrets.baseline
blacklist.txt
Azure_Security_Stages.xml
CIS_Microsoft*