version: "3"
services:
  azure-cis-scanner:
    build:
      context: .
      target: prod
    image: ${AZURE_CIS_SCANNER_IMAGE} 
    volumes:
      - ${ENGAGEMENTS_DIR}:/engagements
#      - ${AZURE_CONFIG_DIR}:/home/jovyan/.azure # if using the apline container then /root/.azure 
    ports:
      - ${JUPYTER_PORT}:8888
      - ${FLASK_PORT}:5000
    # the --port=8888 refers to the port inside the container, do not change
    # add "--allow-root" to run with root privileges in safe settings
    entrypoint: ["jupyter", "notebook", "--port=8888", "--ip=0.0.0.0"]
      
