requests
pyyaml==4.2b4
run_jnb
nbstripout
numpy
pandas
matplotlib
flask
flask-nav
azure-storage-blob 
azure-storage-queue
azure-storage-file 
azure-graphrbac
azure-keyvault
azure-mgmt-authorization
azure-mgmt-billing
azure-mgmt-compute
azure-mgmt-keyvault
azure-mgmt-loganalytics
azure-mgmt-managementgroups
azure-mgmt-monitor
azure-mgmt-msi
azure-mgmt-network
azure-mgmt-notificationhubs
azure-mgmt-policyinsights
azure-mgmt-rdbms
azure-mgmt-recoveryservices
azure-mgmt-recoveryservicesbackup
azure-mgmt-resource
azure-mgmt-sql
azure-mgmt-storage
azure-mgmt-subscription
azure-cli-core
azurerm
