{
    "Name":  "AzureSecurityScanner",
    "Id":  "",
    "IsCustom":  true,
    "Description":  "Minimal set of permissions needed to run CIS Azure Scanner.",
    "Actions":  [
                   "*/read",
		   "Microsoft.Storage/storageAccounts/listKeys/action",
                   "Microsoft.Network/networkWatchers/read",
                   "Microsoft.Network/networkWatchers/queryFlowLogStatus/action",
                   "Microsoft.Network/networkWatchers/queryTroubleshootResult/action",
                   "Microsoft.Network/networkWatchers/troubleshoot/action",
                   "Microsoft.Network/networkWatchers/topology/action",
                   "Microsoft.Network/networkWatchers/securityGroupView/action"
                ],
    "NotActions":  [

                   ],
    "AssignableScopes":  [
                             "/subscriptions/{{ subscription_id }}"
                         ]
}